.list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0;
  li {
    border: 1px solid var(--check-color);
    border-radius: 5px;
    padding: 10px;
    &:hover {
      cursor: pointer;
      box-shadow: var(--shadow-color) 0px 5px 15px;
    }

    .text {
      &__name {
        font-size: 18px;
        margin: 0;
      }
      &__email {
        margin: 0;
      }
    }
  }
  .btn {
    display: flex;
    justify-content: space-around;
    &__action {
      padding: 5px;
      border-radius: 3px;
      min-width: 100px;
    }
  }
}
