.switch_theme_div {
  margin-right: 30px;

 .btnD{
  color: black;
  font-size: 20px;
  background: transparent;
  border: none;
 }
  .btnL {
    color: white;
    font-size: 20px;
    background: transparent;
    border: none;
  }}